<!DOCTYPE html>
<html>
<head>
  <title>Chatting with authentication</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
 <nav class="navbar navbar-dark bg-inverse">
  <div class="nav navbar-nav">
    <%= link_to "Home", users_path, class: "nav-item nav-link" %>
  </div>
  <div class="pull-xs-right">
    <div class="nav navbar-nav">
      <% if signed_in? and current_user.present? %>
      <%= link_to current_user.first_name + current_user.last_name, messages_path, class: "nav-link nav-item glyphicon glyphicon-user" %>

      <%= link_to "Messages", messages_path, class: "nav-link nav-item" %>
      <%= link_to "Log out", logout_path, class: "nav-link nav-item" %>
      <% else %>
      <%= link_to "Sign up", new_user_path, class: "nav-link nav-item" %>
      <%= link_to "Sign in", login_path, class: "nav-link nav-item glyphicon glyphicon-log-in" %>

      <% end %>

    </div>
  </div>
</nav>

<%= flash_messages %>
<%= yield %>
</div>
</body>
</html>
